.scoreMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 36px;
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.636);
}

.menuContainer {
    transition: 1s;
}